{% extends 'base.html' %}
{% load static %}
{% block title %} 내 다이어리 게시판 {% endblock %}
{% block content %}

    <div id="borderStyle">
        <img src="{{diary.image.url}}" width='150' alt="일기 사진 없음" />
        <div id="title"> 일기 제목 :  <strong> {{diary.title}} </strong> </div>
        <div id="date"> 날짜 : {{diary.pub_date}} </div>
        <div id="weather"> 날씨 : {{diary.weather}} </div>
        <div id="mood"> 오늘의 기분 : {{diary.mood}} </div>       
        <div id="body"> 일기 내용 : {{diary.body}} </div>

        {% if user == diary.author %}
        <a href="{% url 'edit' diary.id %}"><button>수정하기</button></a>
        <a href="{% url 'delete' diary.id %}"><button>삭제하기</button></a>
        {% endif %}

{% endblock %}