{% extends 'base.html' %}
{% load static %}
{% block title %} 일기 수정하기 {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/edit.css' %}"> {% endblock %}
{% block content %}

    <div id="contents">
        <form action="{% url 'edit' diary.id %}" method="POST">
            {% csrf_token %}

        <div class="content">  <input type="text" name="title" value="{{diary.title}}"> </div>
        <div class="content"> Date : {{diary.pub_date}} </div>
        <div class="content"> <input name="weather" type="text">  </div>
        <div class="content"> My Mood : {{diary.mood}} </div>       
        <div class="content"> <textarea name="body" value="{{diary.body}}"> </textarea> </div>

        {% if diary.image %}
            <img src="{{diary.image.url}}" width='500' alt="일기 사진 없음" />
        {% endif %}

        <div id="update_btn">
            <button> 수정하기 </button>
        <div>

        </form>
    </div>

{% endblock %}