{% extends 'base.html' %}
{% load static %}
{% block title %} 내 다이어리 게시판 {% endblock %}
{% block content %}

    {% for d in diary %}
        <div class="diary">
            {% if d.image %}
                <img src="{{d.image.url}}" width='150' alt="일기 사진 없음" />
            {% endif %}
            <div id="title"> 일기 제목 :  <strong> {{d.title}} </strong> </div>
            
            <div id="date"> 날짜 : {{d.pub_date}} </div>

            <a href="{% url 'detail' d.id %}"> 자세히 보기 </a>
        </div>
    {% endfor %}

{% endblock %}